/*table {*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
    /*height: 500px; *//* this can vary */
/*}*/

/*table * {*/
    /*box-sizing: inherit;*/
    /*-moz-box-sizing: inherit;*/
/*}*/

/*thead {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: stretch;*/
/*}*/

/*tbody {*/
    /*overflow-y: scroll;*/
    /*display: inline-block;*/
/*}*/

/*thead > tr, tbody > tr, tfoot > tr {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
/*}*/

/*thead, tfoot {*/
    /*flex-shrink: 0;*/
/*}*/

/*th, tbody td {*/
    /*width: 20%; *//* this can vary */
    /*overflow-x: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: inline-block;*/
/*}*/

/*tfoot {*/
    /*display: inline-block;*/
/*}*/

/*tfoot td {*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/